<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collections <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{ $currentDir := .Dir }}
            {{ range .Site.Home.Sections.ByTitle }}
              <li {{if eq $currentDir .Dir }} class="active"{{end}}><a class="sidebar-nav-item" href="{{.RelPermalink}}">{{ .Title }}</a></li>
              {{ range .Sections }}
                <li {{if eq $currentDir .Dir }} class="active"{{end}}><a class="sidebar-nav-item" href="{{.RelPermalink}}">&nbsp;&nbsp;{{ .Title }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </li>
        <li><a href="/random/">Random</a></li>
      </ul>
        {{- $section := $.Site.GetPage "section" .Section -}}
        {{- with $.Site.GetPage "section" (trim .Dir "/") -}}
          {{ if not (.InSection $.Site.Home) }}
            <ol class="breadcrumb navbar-text navbar-right">
            {{ if ne $section . }}
              <li><a href="{{ $section.RelPermalink }}">{{ $section.Title }}</a></li>
            {{ end }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            </ol>
          {{ end }}
        {{- end -}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
